
    <div class="folderCreater">
        <form action="/folderCreation" method="POST" class="createFolder">
          <label class="inputFileNameLabel" for="inputFileName">File Name:</label>
          <input name="inputFileName" type="text" class="folderNameCreator" />
          <button class="createFolderButton">Create Folder</button>
        </form>
    </div>
  
