
    <div class="folderCreater">
        <h3>Folder Creation</h1>
        <form action="/folderCreation" method="POST" class="createFolder">
          <label for="inputFileName">File Name:</label>
          <input name="inputFileName" type="text" class="folderName" />
          <button class="createFolderButton">Create Folder</button>
        </form>
    </div>
  
