<li class="formError noBullet">
    <% if (errors == "Username already exists" && selector == "userName") { %>
        
        <%= errors %>

    <%} %>
    <% if (errors && Array.isArray(errors)) {%>
        
        <% errors.forEach(function(error) { %>
            
          <%if (error.path == selector) { %>
              
              <%= error.msg %>
          <%}%>
          
        <% }); %>
      
    <% } %>
    
    
    
    
 </li>