<li class="formError noBullet">
    <% if (errors == "Username already exists" && selector == "userName") { %>
        <%console.log('in 2nd if', errors) %>
        <%= errors %>

    <%} %>
    <% if (errors && Array.isArray(errors)) {%>
        
        <% errors.forEach(function(error) { %>
            
          <%if (error.path == selector) { %>
              
              <%= error.msg %>
          <%}%>
          
        <% }); %>
      
    <% } %>
    <% console.log(errors, selector) %>
    <% console.log('if should be true', errors === "Username already exists") %>
    
    
    
 </li>