<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>File Uploader</h1>
    <%- include('nav') %>
    <div class="header">
      <h1 class="title">Home</h1>
      <% if (locals.currentUser) { if (locals.currentUser.member) {%>
      <h3 class="accountType">Member Account</h3>
      <% }else{ %>
      <h3 class="accountType">Non-Member Account</h3>
      <% }} %>
    </div>
    <form action="/fileupload" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="File Name" name="fileName">
          <input type="file" class="form-control-file" name="uploaded_file">
          <input type="submit" value="Save File" class="btn btn-default">
        </div>
      </form>
</body>
</html>