<div class="nav">
    
    <% if (locals.currentUser) { %>
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
    <% } %>
    <% if (!locals.currentUser) { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log in</a>
    <% } %>
</div>