<div class="nav">
    
  <% if (locals.currentUser) { %> 
    <% if (url != '/') { %>
        <a href="/">Home</a>
    <% } %>
    <a href="/logout">Log out</a>
  <% } %> 
  
  <% if (!locals.currentUser) { %> 
    <% if (url != '/login') { %>
        <a href="/login">Log in</a>
    <% } %> 
    <% if (url != '/signup') { %>
        <a href="/signup">Sign Up</a>
    <% } %> 
  <% } %>
</div>
