html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	/* color scheme */
    --darkest: #143109;
    --sage: #AAAE7F;
    --beige: #D0D6B3;
    --white: #F7F7F7;
    --offWhite: #EFEFEF;
	--pagePadding: calc(1em + 2vw);
}

body{
    padding: var(--pagePadding);
    background-color: var(--offWhite);
}

a{
    text-decoration: none;
    color: var(--sage);
}